<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layout :: head('Upload')"></head>

<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>

<div class="divider"></div>

<div class="cupcake-detail container">
    <div class="row">
        <div class="col s6">
            <h5 class="center-align">Topping</h5>
            <div class="card-panel lighten-2" th:style="|background-color:${cupcake.topping.colorCode}">
                <h4 class="white-text center-align" th:text="${cupcake.topping.name}">Topping name</h4>
            </div>
            <div class="cupcake-detail-bg-image-div" th:style="|background-image:url('/cupcake/topping/${cupcake.id}.png')|"></div>
        </div>
        <div class="col s6">
            <h5 class="center-align">Bottom</h5>
            <div class="card-panel lighten-2" th:style="|background-color:${cupcake.bottom.colorCode}">
                <h4 class="white-text center-align" th:text="${cupcake.bottom.name}">Topping name</h4>
            </div>
            <div class="cupcake-detail-bg-image-div" th:style="|background-image:url('/cupcake/bottom/${cupcake.id}.png')|"></div>
        </div>
    </div>
    <div class="row">
        <div id="cupcake-details-price-div" class="col s1">
            <h4 class="" th:text="|$${cupcake.price}|">$100</h4>
        </div>
        <div id="cupcake-quantity-icon-div" class="col s1 offset-s1">
            <i class="medium material-icons">add_shopping_cart</i>
        </div>
        <form th:action="|/cart/add/${cupcake.id}|" method="post" th:object="${cartline}">
            <div class="col s4">
                <input id="quantity" type="text" th:field="*{quantity}"/>
            </div>
            <div class="col s4">
                <button type="submit" class="button">Add to cart</button>
                <a href="javascript:window.location = document.referrer;" class="button">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>